// ======================================================================
//  General layout components
// ======================================================================

.contentWrapper {
	max-width: var(--base-regular-width);
	margin: 0 auto;
    padding: 0 var(--gutter) calc(var(--gutter) *2);
    background: rgba(245, 245, 245, 0.5);

	a,
	a:visited {
		color: var(--colour-base-text);
		text-decoration: none;
	}
}
