// ======================================================================
//  General layout components
// ======================================================================

.contentWrapper {
	max-width: var(--base-regular-width);
	margin: 0 auto;
	padding-bottom: var(--gutter);

	a,
	a:visited {
		color: var(--colour-base-text);
		text-decoration: none;
	}
}
