// ======================================================================
//  Horizontal rule
// ======================================================================

hr {
  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
  height: 1px;
  background: var(--colour-darken);
  border: 0;
  width: 100%;
}
