// ======================================================================
//  Global Variables
// ======================================================================

:root {
    
    //  Colours
    // ======================================================================
    
    --colour-base-text: #444;
    --colour-light-text: #888;
    --colour-grey-bg: #f5f5f5;
    --colour-dark-bg: #282828;
    --colour-darkish: #525252;
    
    --colour-accent-main: #22aead; 
    --colour-accent-secondary: #75c7f7;
    --colour-accent-tertiary: #74e160;
    --colour-accent-quaternary: #da7144;

    //  Typography
    // For our purposes 1rem = 10px;
    // ======================================================================

    --base-font-size: 2.1rem;
    --base-line-height: 1.6;
    --base-font-family: 'Barlow', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    --h1-size: 5.3rem;
    --h2-size: 3.2rem;
    --h3-size: 2rem;
    --heading-weight: 400;


    //  Spacing
    // ======================================================================
    --gutter: 2.4rem;

    //  Layout
    // ======================================================================
    --base-large-width: 1600px;
    --base-regular-width: 1200px;
    --base-small-width: 800px;
    --toolbar-height: 80px;
}



