// ======================================================================
//  Global Variables
// ======================================================================

:root {
    
    //  Colours
    // ======================================================================
    
    --color-base-text: #444;
    --color-light-text: #888;
    --color-grey-bg: #fff;

    //  Typography
    // For our purposes 1rem = 10px;
    // ======================================================================

    --base-font-size: 1.5rem;
    --base-line-height: 1.6;
    --base-font-family: 'Barlow', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    --h1-size: 3.3rem;
    --h2-size: 2.6rem;
    --h3-size: 2rem;
    --heading-weight: 400;


    //  Spacing
    // ======================================================================

    --gutter: 2.4rem;
}



