// ======================================================================
// Connect Post
// ======================================================================
@import "../base/settings";
@import "../base/tools";
$postSize: 240px;
.post {
	width: 100%;
	display: flex;
	background: #fff;
	margin-bottom: calc(var(--gutter) *2);
	margin: 0 0 calc(var(--gutter) *2) calc(var(--gutter) *2);
	box-shadow: var(--subtle-shadow);
	opacity: 1;
	animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
	0% {opacity: 0}
	100% {opacity: 1}
}


.preview {
	width: $postSize;
	height: $postSize;
	overflow: hidden;
	display: none;
	position: relative;
}

.authorStrip {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	background: var(--colour-semi-trans);
	
	img {
		display: inline-block;
	}

	span {
		padding: calc(var(--gutter) / 3) calc(var(--gutter) / 2);
		display: inline-block;
		vertical-align: middle;
	}
}


.content {
	width: 100%;
	height: auto;
	padding: var(--gutter);
	position: relative;
	
	h2 {
		margin-bottom: var(--gutter);
		color: var(--colour-accent-quaternary);
		width: 100%;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	p {
		margin-bottom: 0;
		font-size: var(--medium-font-size);
	}

	button {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.date {
	position: absolute;
	top: 0;
	right: 0;
	font-size: var(--medium-font-size);
}

.snippet {
	height: auto;
	position: relative;
	padding-bottom: var(--gutter);
}

.postEnd {
	font-size: var(--medium-font-size);
	display: block;

	label {
		display: block;
		width: 100%;
	}

	a {
		color: var(--colour-accent-main);
		display: block;
	}
}


@include media("tablet-up") {
  	.content {
		width: calc(100% - #{$postSize});
		height: $postSize;
	}
	.snippet {
		height: 90%;
		padding-bottom: 0;
	}
	.postEnd {
		display: flex;
		justify-content: space-between;

		label {
			width: auto;
		}
	}
	.preview {
		display: block;
	}
}

@include media("laptop-up") {
	.post {
		width: calc(50% - calc(var(--gutter) *2));
	}
}