// ======================================================================
// Footer component
// ======================================================================
@import "../base/settings";
@import "../base/tools";

.footer {
	background: var(--colour-dark-bg);
	height: auto;
	padding: calc(var(--gutter) * 2) var(--gutter);
	color: #fff;
	text-align: center;
}

.logo {
	width: 130px;
	height: 58px;
	display: block;
	margin: 0 auto;
}

.nav {
	width: 100%;
	height: auto;
	display: block;
	list-style: none;
	padding: calc(var(--gutter) * 2) 0 calc(var(--gutter) * 2) 0;
	margin: calc(var(--gutter) * 2) auto calc(var(--gutter) * 2) auto;
	border-top: 2px solid var(--colour-darkish);
	border-bottom: 2px solid var(--colour-darkish);

	li {
		margin-bottom: calc(var(--gutter) / 2);
	}

	li a {
		color: #fff;
	}
}

.botLinks {
	display: flex;
	max-width: 400px;
	align-items: center;
	margin: 0 auto;

	a {
		color: var(--colour-light-text);
		display: block;
		margin: auto;
	}
}


@include media("portrait-tablet-up") {
  .nav{
  	max-width: var(--base-small-width);

  	li {
  		display: inline-block;
  		margin: 0 var(--gutter) 0 0;
  	}
  }
}