// ======================================================================
// Header component
// ======================================================================
@import "../base/settings";

.header {
	padding: 0;
	background: #fff;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.logo {
	position: absolute;
	top:0;
	left:50%;
	transform: translateX(-50%);

	@media screen and (max-width: 1024px) {
		position: relative;
		left: 0;
		transform: none;
		height: 81px;
	}
}

.headerNav {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		margin-left: 2em;
	}
}

.menuButt {
	display: inline-block;
	padding: var(--gutter);
	font-size: var(--h2-size);
	color: var(--colour-accent-main);
	transition: opacity 0.3s ease-in, background 0.3s ease-in, color 0.3s ease-in;

	&:hover {
		cursor: pointer;
		opacity: 0.8;
		background: var(--colour-grey-bg);
		color: var(--colour-base-text);
	}
}

.menuButt + .menuButt {
	border-left: 1px solid var(--colour-grey-bg);
}

