// ======================================================================
// Header component
// ======================================================================
@import "../base/settings";
@import "../base/tools";

.header {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
	position: fixed;
	width: 100%;

	a,
	a:visited {
		color: #fff;
		text-decoration: none;
	}

	a:hover {
		color: var(--colour-accent-quaternary);
	}
}

.headerWrapper {
	background: #fff;
	display: flex;
	position: relative;
	justify-content: space-between;
	width: 100%;
	z-index: 1;
}

// Logo
// ======================================================================

.logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 80px;
	width: 142px;	
	z-index: 2;
}


// Menu Butts
// ======================================================================
.menuButt {
	display: inline-block;
	padding: var(--gutter) calc(var(--gutter) / 2);
	font-size: var(--h2-size);
	color: var(--colour-accent-main);
	transition: background 0.3s ease-in, color 0.3s ease-in;

	&:hover {
		cursor: pointer;
		color: var(--colour-base-text);
	}
}

a.menuButt {
	color: var(--colour-accent-main);
}

.menuButtOpen {
	color: var(--colour-accent-quaternary);

	&:hover {
		color: var(--colour-accent-quaternary);
	}
}

.toggleWrappers {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.menuButtProfile {
	display: none;
}


@include media("tablet-up") {

	.menuButt { 
		padding: var(--gutter);
	}

	.menuButtOpen {
		background: var(--colour-dark-bg);
		transition: background 0.3s ease-in, color 0.3s ease-in;

		&:hover {
			color: var(--colour-accent-main);
		}
	}

	.toggleWrappers {
		width: auto;
		display: block;
	}
	
	.menuButtProfile {
		display: block;
	}

	.logo {
		width: 180px;
		height: 103px;	
	}

	.nav {
		width: 300px;
	}

}