// ======================================================================
// Hero
// ======================================================================
@import "../base/settings";
@import "../base/tools";


.hero {
	height: auto;
	padding-bottom: calc(var(--gutter) * 5);
	background: none;
}

.heroCopy {
	max-width: 1200px;
	margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: calc(var(--gutter) * 4);
    align-items: flex-start;
    justify-content: center;

	p {
		max-width: 40%;
	}
}

.ctaPanel {
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	flex-wrap: wrap;
}

.ctaBlock {
	width: 100%;
	height: auto;
	background: #fff;
	text-align: center;
	padding: var(--gutter);
	margin: 0 0 var(--gutter);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	font-size: 1.8rem;
}

.ctaIcon {
	width: auto;
	display: block;
	height: 130px;
	margin: var(--gutter) auto;
}

.subHeadOne {
	color: var(--colour-accent-secondary);
}

.subHeadTwo {
	color: var(--colour-accent-tertiary);
}

.subHeadThree {
	color: var(--colour-accent-quaternary);
}

@include media("portrait-tablet-up") {
	.ctaBlock {
		width: 30%;
	}

	.hero {
		// background: transparent url(../../assets/world.png) 100% 0% no-repeat;
	}
}