// ======================================================================
// Search bar
// ======================================================================
@import "../base/settings";
@import "../base/tools";

.searchBar {
	width: 100%;
	height: auto;
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	background: var(--colour-dark-bg);
	padding: var(--gutter);
	transform: translateY(-100%);
	transition: transform 0.3s ease-in;
	will-change: transform;
	z-index: 0;

	input {
		border: 0;
		border-bottom: 2px solid var(--colour-accent-quaternary);
	}

	input:focus {
		box-shadow: 0;
	}

	button {
		background: #fff;
		font-size: var(--h2-size);
		padding: calc(var(--gutter) / 2);
		color: var(--colour-accent-quaternary);
		border-bottom: 2px solid var(--colour-accent-quaternary);

		&:hover {
			background: none;
			color: var(--colour-accent-main);
		}
	}
}

.searchBarOpen {
	transform: translateY(var(--toolbar-height));
}

@include media("tablet-up") {
	.searchBar {
		height: 100%;
	    max-width: 240px;
		padding: 0;
	    background: none;
	    z-index: 3;
	    transform: translateY(0);
	    right: var(--toolbar-height);
	    left: auto;
	    opacity: 0;

	    input {
	    	width: 100%;
	    }

		button {
	     	padding: calc(var(--gutter) / 2) var(--gutter);
	 	}
	}

	.searchBarOpen {
		opacity: 1;
		right: 0;
		animation: fadeIn 0.3s ease-in;
	}
}

@include media("desktop-up") {
	.searchBar {
		max-width: 400px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}